.logo{
    width: 150px;
    height: 80px;
    margin-left: 40px;
    background-image: url(../../assets/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
